<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html lang="en">
<head>
<title>Kiansy Alcala - Psicologo Clinico | Home </title>
<!-- for-mobile-apps -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Freightage Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, Sony Ericsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
		function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- //for-mobile-apps -->
<link href="css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
<link href="css/style.css" rel="stylesheet" type="text/css" media="all" />
<link href="css/font-awesome.min.css" rel="stylesheet" type="text/css" media="all">
<!--web-fonts-->
<link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" type="text/css" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Lato:300,400,700" type="text/css" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Satisfy" type="text/css" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Quattrocento" type="text/css" rel="stylesheet">
<!--//web-fonts-->
<!--//fonts-->
</head>
<body>
<div class="banner-w3layouts" id="home">
		<!--Top-Bar-->
	<div class="header">
		<nav class="navbar navbar-default">
					<div class="navbar-header">
						<h1 class='name-text'><a  href="index.html">Kiansy Alcala</a></h1>
					</div>
					<div class="top-nav-text">
						<div class="nav-contact-w3ls"><span class="glyphicon glyphicon glyphicon-phone" aria-hidden="true"></span><p>LLAMANOS <br> <span class="call">+54 9 11 2799 8482</span></p></div> 
					</div>
					<!-- navbar-header -->
					<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
						<ul class="nav navbar-nav navbar-right">
							<li><a class="hvr-underline-from-center active scroll" href="index.html">Home</a></li>
							<li><a href="#features" class="hvr-underline-from-center scroll">Terapia</a></li>
							<li><a href="#capabilities" class="hvr-underline-from-center scroll">Capabilities</a></li>
							<li><a href="#team" class="hvr-underline-from-center scroll scroll">Team</a></li>
							<li><a href="#gallery" class="hvr-underline-from-center scroll scroll">Gallery</a></li>
							<li><a href="#contact" class="hvr-underline-from-center scroll scroll">Contact</a>
						</ul>
					</div>
					<div class="clearfix"> </div>	
				</nav>
	
	</div>
		<!--//Top-Bar-->
			<!-- modal -->
	<div class="modal about-modal w3-agileits fade" id="myModal2" tabindex="-1" role="dialog">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>						
				</div> 
				<div class="modal-body login-page "><!-- login-page -->     
									<div class="login-top sign-top">
										<div class="agileits-login">
										<h5>Login</h5>
										<form action="#" method="post">
											<input type="email" class="email" name="Email" placeholder="Email" required=""/>
											<input type="password" class="password" name="Password" placeholder="Password" required=""/>
											<div class="wthree-text"> 
												<ul> 
													<li>
														<label class="anim">
															<input type="checkbox" class="checkbox">
															<span> Remember me ?</span> 
														</label> 
													</li>
													<li> <a href="#">Forgot password?</a> </li>
												</ul>
												<div class="clearfix"> </div>
											</div>  
											<div class="w3ls-submit"> 
												<input type="submit" value="LOGIN">  	
											</div>	
										</form>

										</div>  
									</div>
						</div>  
				</div> <!-- //login-page -->
			</div>
		</div>
	<!-- //modal --> 
	<!-- modal -->
	<div class="modal about-modal w3-agileits fade" id="myModal3" tabindex="-1" role="dialog">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>						
				</div> 
				<div class="modal-body login-page "><!-- login-page -->     
									<div class="login-top sign-top">
										<div class="agileits-login">
										<h5>Register</h5>
										<form action="#" method="post">
											<input type="text" name="Username" placeholder="Username" required=""/>
											<input type="email"  name="Email" placeholder="Email" required=""/>
											<input type="password" name="Password" placeholder="Password" required=""/>
											<div class="wthree-text"> 
												<ul> 
													<li>
														<label class="anim">
															<input type="checkbox" class="checkbox">
															<span> I accept the terms of use</span> 
														</label> 
													</li>
												</ul>
												<div class="clearfix"> </div>
											</div>  
											<div class="w3ls-submit"> 
												<input type="submit" value="Register">  	
											</div>	
										</form>

										</div>  
									</div>
						</div>  
				</div> <!-- //login-page -->
			</div>
		</div>
	<!-- //modal --> 
<!--banner-->
		<!--Slider-->
			<div class="w3l_banner_info">
				<div class="col-md-7 slider">
					<div class="callbacks_container">
								<ul class="rslides" id="slider3">
									<li>
										<div class="slider_banner_info">
											 <h4>Salud Emocional</h4>
											<p>Individual, Pareja, Familia y<br />Organizacional</p>
										</div>

									</li>
									<li>
										<div class="slider_banner_info">
											<h4>Terapia Online y a Domicilio</h4>
											<p>Individual y de Pareja</p>
										</div>

									</li>
									<li>
										<div class="slider_banner_info">
											<h4>Orientación Psicológica</h4>
											<p>Manejo Socioemocional de niños y adolecentes</p>
										</div>

									</li>
									<li>
										<div class="slider_banner_info">
											<h4>Preparación y Ejecucion de Talleres</h4>
											<p>Crecimiento personal y Organizacional</p>
										</div>

									</li>
								</ul>
					</div>
				</div>
		</div>
			<!--//Slider-->
			<div class="clearfix"></div>
</div>
<!--//banner-->

<!-- welcome -->
	<div class="features" id="features">
		<div class="container">
			<h2 class="title-w3">Especialidad</h2>
		    <div class="w3-agile-top-info">	
			<div class="w3-welcome-grids">
				<div class="col-md-7 w3-welcome-left">
					<h5>Terapia Individual y de Pareja</h5>
					<p>Es un espacio para facilitar un cambio a nivel de pensamiento, emociones, comunicación, actitudes y resolver situaciones tanto a nivel individual como en pareja, desde la comodidad de tu hogar y/o oficina. Vía online o presencial.</p>
				</div>
				<div class="col-md-5 w3ls-welcome-img1">
					<img src="images/w2.jpg" alt="" />
				</div>
				<div class="clearfix"> </div>
			</div>
			<div class="w3-welcome-grids w3-welcome-bottom">
				<div class="col-md-5 w3ls-welcome-img1 w3ls-welcome-img2">
					<img src="images/w1.jpg" alt="" />
				</div>
				<div class="col-md-7 w3-welcome-left">
					<h5>Orientacion para padres</h5>
					<p>Un espacio para exponer y resolver situaciones en el manejo socio emocional y conductual del niño y/o adolescente dentro de la dinámica familiar, crisis familiar, separación o divorcio.</p>
				</div>
				</div>
				<div class="clearfix"> </div>
				<div class="col-md-7 w3-welcome-left">
					<br />
					<h5>Talleres</h5>
					<p>Elaboración y facilitación de talleres que permiten a través de procesos creativos adquirir herramientas en pro del desarrollo y superación personal. En el ámbito social, familiar, como padres y dentro del contexto organizacional; autoestima, comunicación, asertividad, manejo emocional, de niños, adolescentes y manejo del estrés.</p>
				</div>
				<div class="col-md-5 w3ls-welcome-img1">
					<br />
					<img src="images/w3.jpg" alt="" />
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
	</div>
</div>
<!-- //welcome -->

<div>
	<div id="week-mensaje">
	  <h1>ALGO PARA REFLEXIONAR</h1>
	</div>
</div>

<!--map-->
		<div class="map-w3ls">
				<h4 class="title-w6">Contact Info</h4>
		  <div class="contact-agile" id="contact">
				<div class="contact-left">
					<h6>Contactanos</h6>
					<p>14 Tottenham Road,<br> London, England.</p>
					<p><a href="mailto:info@example.com" class="a1" >mail@example.com</a></p>
					<h6 class="open-w3ls">Opening Hours</h6>
					<p>Monday-Saturday</p>
					<span>7.00AM-10.00PM</span>
										</div>
		  </div>
		  <div class="por-definir" >
		  </div>
		</div>
		
<!--//map-->

	
<!-- js -->
<script type="text/javascript" src="js/jquery-2.1.4.min.js"></script>
<!-- jarallax-js -->
			<script src="js/jarallax.js"></script>
			<script src="js/SmoothScroll.min.js"></script>
			<script type="text/javascript">
				/* init Jarallax */
				$('.jarallax').jarallax({
					speed: 0.5,
					imgWidth: 1366,
					imgHeight: 768
				})
			</script>
<!-- //jarallax-js -->
					<!--banner Slider starts Here-->
						<script src="js/responsiveslides.min.js"></script>
							<script>
								// You can also use "$(window).load(function() {"
								$(function () {
								  // Slideshow 4
								  $("#slider3").responsiveSlides({
									auto: true,
									pager:true,
									nav:false,
									speed: 500,
									namespace: "callbacks",
									before: function () {
									  $('.events').append("<li>before event fired.</li>");
									},
									after: function () {
									  $('.events').append("<li>after event fired.</li>");
									}
								  });
							
								});
							 </script>

							<!--banner Slider starts Here-->


<!--light-box-files -->
<script src="js/modernizr.custom.js"></script>
<script src="js/jquery.chocolat.js"></script>
<link rel="stylesheet" href="css/chocolat.css" type="text/css" media="screen">
<!--//light-box-files -->
		<script type="text/javascript">
		$(function() {
			$('.gallery a').Chocolat();
		});
		</script>
<!-- //js -->
<!-- start-smoth-scrolling -->
<script type="text/javascript" src="js/move-top.js"></script>
<script type="text/javascript" src="js/easing.js"></script>
<script type="text/javascript">
	jQuery(document).ready(function($) {
		$(".scroll").click(function(event){		
			event.preventDefault();
			$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
		});
	});
</script>
<!-- start-smoth-scrolling -->
<!--//footer-section-->
<!-- Starts-Number-Scroller-Animation-JavaScript -->		
<script type="text/javascript" src="js/numscroller-1.0.js"></script>
<!-- //Starts-Number-Scroller-Animation-JavaScript -->
<!-- smooth scrolling -->
	<script type="text/javascript">
		$(document).ready(function() {
		/*
			var defaults = {
			containerID: 'toTop', // fading element id
			containerHoverID: 'toTopHover', // fading element hover id
			scrollSpeed: 1200,
			easingType: 'linear' 
			};
		*/								
		$().UItoTop({ easingType: 'easeOutQuart' });
		});
	</script>
	<a href="#" id="toTop" style="display: block;"> <span id="toTopHover" style="opacity: 1;"> </span></a>
<!-- //smooth scrolling -->


<script type="text/javascript" src="js/bootstrap-3.1.1.min.js"></script>
</body>
</html>