/*--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
--*/
html, body{
	margin:0;
	font-size: 100%;
	font-family: 'Quattrocento', sans-serif;
	background: #fff;
}
body a {
	text-decoration:none;
	transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
	-ms-transition:0.5s all;
}
a:hover{
 text-decoration:none;
}
input[type="button"],input[type="submit"]{
	transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
	-ms-transition:0.5s all;
}
h2,h3,h4,h5,h6{
	margin:0;
	font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}	
h1{
  margin:0;
  font-family: 'Satisfy', sans-serif;
    font-weight: 600; 
}
.slider_banner_info h4 {
  margin:0;
    font-family: 'Quattrocento', sans-serif;
      font-weight: 600;
}
p{
	margin:0;
}
ul{
	margin:0;
	padding:0;
}
label{
	margin:0;
}
/*--header--*/

.navbar-header h1 {
    text-align: center;
}
.navbar-header h1 img {
    margin-right: 0.3em;
}
.navbar-header h1 a {
    margin-top: 0.2em;
    border-radius: 10%;
    color: #000;
    text-decoration: none;
    font-size: 33px;
    display: block;
    background: #f1bf9c;
    padding: 34px 20px;
    font-weight: 600;
}
/*-- top-nav --*/
.glyphicon.glyphicon-phone {
    color: #000;
    font-size: 33px;
	display: inline;
}
.nav-contact-w3ls {
    display: inline-block;
    border-right: 2px solid #070707;
    padding-right: 10px;
    margin-right: 10px;
	    float: left;
}
.nav-contact-w3ls p {
    display: inline-block;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: .5px;
	    color: #070707;
}
.top-nav-text .call {
    font-size: 14px;
    color: #000;
    font-weight: 600;
    /* float: left; */
    margin-top: 4px;
}
.top-nav-text a {
    display: inline-block;
    color: #000;
    font-size: 14px;
    padding: 7px 30px;
    background: #01bcfa;
	margin-left:2em;
	text-decoration:none;
}
.top-nav-text {
    margin-top: 14px;
    float: right;
    width: 29%;
    margin-left: 3em;
}
/* Underline From Center */
.hvr-underline-from-center {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  overflow: hidden;
}
.hvr-underline-from-center:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 50%;
  right: 50%;
  bottom: 0;
  background:#ff304d;
  height: 2px;
  -webkit-transition-property: left, right;
  transition-property: left, right;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-underline-from-center:hover:before, .hvr-underline-from-center:focus:before, .hvr-underline-from-center:active:before {
  left: 0;
  right: 0;
}

.navbar-default {
    background: none;
    border: none;
    margin: 0;
    min-height: inherit;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    color: #000;
    background: none;
}
.navbar-nav > li {
   margin: 0 0.5em;
}
.navbar-nav > li:nth-child(6){
	margin-right:0!important;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus,.navbar-default .navbar-nav li a.active {
    color: #000;
}
.navbar-right {
    float: right!important;
    margin-right:0px!important;
}
.navbar-collapse {
    padding: 0!important;
}
/*-- //top-nav --*/
/*--//header--*/

/*--banner-slider--*/
#slider2,
#slider3 {
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  margin: 0 auto;
}
.rslides_tabs li:first-child {
  margin-left: 0;
}
.rslides_tabs .rslides_here a {
  background: rgba(255,255,255,.1);
  color: #000;
  font-weight: bold;
}
.events {
  list-style: none;
}
.callbacks_container {
  position: relative;
  float: left;
  width: 100%;
}
.callbacks {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 100%;
  padding: 0;
  margin: 0;
}
.callbacks li {
  position: absolute;
  width: 100%;
}
.callbacks img {
  position: relative;
  z-index: 1;
  height: auto;
  border: 0;
}
.callbacks .caption {
	display: block;
	position: absolute;
	z-index: 2;
	font-size: 20px;
	text-shadow: none;
	color: #000;
	left: 0;
	right: 0;
	padding: 10px 20px;
	margin: 0;
	max-width: none;
	top: 10%;
	text-align: center;
}
.callbacks_nav {
    position: absolute;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    bottom:-35%;
    left: 0;
    z-index: 3;
    text-indent: -9999px;
    overflow: hidden;
    text-decoration: none;
    width:32px;
    height:32px;
	display:none;
}
 .callbacks_nav:hover{
  	opacity: 0.5;
  }
.callbacks_nav.next {
  left: auto;
      left:51%;
 }
 .callbacks_nav.prev {
	right: auto;
	background-position:left top;
	    left: 46%;
}
#slider3-pager a {
  display: inline-block;
}
#slider3-pager span{
  float: left;
}
#slider3-pager span{
	width:100px;
	height:15px;
	background:#000;
	display:inline-block;
	border-radius:30em;
	opacity:0.6;
}
#slider3-pager .rslides_here a {
  background: #fff;
  border-radius:30em;
  opacity:1;
}
#slider3-pager a {
  padding: 0;
}
#slider3-pager li{
	display:inline-block;
}
.rslides {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 100%;
  padding: 0;
}
.rslides li {
  -webkit-backface-visibility: hidden;
  position: absolute;
  display:none;
  width: 100%;
  left: 0;
  top: 0;
}
.rslides li{
  position: relative;
  display: block;
  float: left;
}
.rslides img {
    height: auto;
    border: 0;
}
.callbacks_tabs {
    list-style: none;
    position: absolute;
    bottom: -7%;
    left: -1.5%;
    padding: 0;
    margin: 0;
    z-index: 990;
    display: block;
    text-align: center;
}
.slider-top span{
	font-weight:600;
}
.callbacks_tabs li{
       display: inline-block;
    margin: 0 7px;
}
/*----*/
.callbacks_tabs a{
 visibility: hidden;
}
.callbacks_tabs a:after {
    content: "\f111";
    font-size: 0;
    font-family: FontAwesome;
    visibility: visible;
    display: block;
    height: 13px;
    width: 13px;
    display: inline-block;
    background: #01bcfa;
    border: 2px solid #000;
}
.callbacks_here a:after{
	background:#ff304d;
}
/*----*/
.header {
    padding: 0 3em;
}
.w3l_banner_info {
    text-align: left;
    margin: 0 auto;
    width: 85%;
}
.slider_banner_info h4 {
    font-size: 76px;
    margin-bottom: .4em;
    text-transform: uppercase;
    color: #000;
    font-weight: bold;
    letter-spacing: 2px;
}
.slider_banner_info p {
    color: #000000;
    font-size: 20px;
    letter-spacing: 4px;
    margin-bottom: 1.5em;
    line-height: 26px;
}
.slider_banner_info {
    margin-top: 9em;
}
/*-- banner-form --*/
/*-- //Slider --*/
.navbar {
  margin-bottom: 0;
}
.navbar-nav {
  float: right;
}
.navbar-default {
  background:none;
  border-color: #012231;
}
.navbar-default .navbar-brand {
	font-family: 'Days One', sans-serif;
	color:#000 !important;
	font-size:40px;
	text-decoration: none;
}
a.navbar-brand img {
    display: inline-block;
}
.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    padding: 0;
    margin-top: 5px;
}
.navbar-default .navbar-brand:hover {
	color: #000;
	text-decoration: none;
}
a.navbar-brand span {
  color: #2FD828;
  margin-left: 12px;
}
.navbar {
    position: relative;
    min-height: inherit;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
  color: #000;
  background-color: #2FD828;
}
.navbar-default .navbar-nav > li > a{
	color: #000;
	font-size: 15px;
	letter-spacing: 1px;
	text-transform:uppercase;
    padding: 16px 23px;
    position: relative;
    font-weight: 400;
}
.navbar-nav > li > a {
    padding-top: 10px;
    padding-bottom: 10px;
}
.navbar-brand {
    height: 0;
    padding: 0;
	}
.navbar{
    border-radius: 0px; 
	border:none;
}
.navbar-default .navbar-brand {
    color: #000;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-nav > li > a.active {
    color: #000000;
}
.navbar {
    border-radius: 0px;
    border: none;
    padding: 0px 0;
}

/*-- //Banner-Slider --*/
.banner-w3layouts {
    position:relative;
	background:url('../images/bann5.jpg')no-repeat 0px 0px;
	min-height: 750px;
	-webkit-background-size:cover;
	-o-background-size:cover;
	-moz-background-size:cover;
	-ms-background-size:cover;
	background-size:cover;
}

/*--//banner--*/
/*-- main --*/
.features,.capabilities,.gallery{
	padding:100px 0px;
}

h4.title-w3 ,h2.title-w3 {
    font-size: 35px;
    color: #101010;
    text-align: center;
    margin-bottom: 45px;
	text-transform:uppercase;
} 
h4.title-w6 {
  font-size: 35px;
    color: #fff;
    text-align: center;
}
/*-- //main --*/
/*-- welcome --*/
.w3-welcome-left h5 {
    color: #ff304d;
    font-size: 1.5em;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1px;
    margin: 0;
    line-height: 40px;
}
.w3-welcome-left p {
    color: #888;
    line-height: 1.9em;
    margin: 1em 0 0 0;
    font-size: 16px;
	letter-spacing: .5px;
}
.w3-welcome-left p span{
	display:block;
	margin:1em 0 0 0;
}
.w3ls-welcome-img1 img{
	width:100%;
}
.w3-welcome-bottom{
	margin:3em 0 0 0;
}
/*-- //welcome --*/
/*--Contact --*/
.contact-left h6 {
    font-size: 17px;
    text-transform: uppercase;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.78);
    letter-spacing: 2px;
    margin-bottom: 15px;
}
.open-w3ls {
    margin-top: 15px;
}
.contact-left {
    padding: 2.3em 3em;
    background: rgba(153, 241, 214, 0.5);
    overflow: auto;
}
.contact-agile {
    position: relative;
    margin: auto;
    width: 100%
}
.contact-agile h4{
    text-align: left;
    font-size: 22px;
    margin-bottom: 13px;
    color: #000;
}
.contact-agile h4 {
    color: #000;
    font-size: 25px;
    margin-bottom: 10px;
}
.contact-left p {
    text-align: center;
    font-size: 13.5px;
    /* margin-bottom: 10px; */
    color: #000;
    line-height: 25px;
    letter-spacing: 1px;
}
a.a1 {
    color: #424cd9;
    text-decoration: none;
   transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
}
a.a1:hover {
    color: #000;
   transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
}
a.a2 {
    display: block;
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: .5px;
    padding: 10px;
    text-align: center;
    background: #f52240;
    border: 2px solid rgba(230, 12, 42, 0.83);
    margin-top: 6px;
    transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
}
a.a2:hover {
  background:rgba(230, 12, 42, 0.83);
  transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
}
.contact-left span {
    color: rgba(8, 8, 8, 0.62);
    font-size: 13px;
    letter-spacing: .8px;
    display: inline-block;
    margin-bottom: 7px;
}
.contact-agile p.heading-btm-w3ls,.sevices-w3layouts p.heading-btm-w3ls{
    color: #e7e3e3;
}
.contact-middle p {
    color: #b1b1b1;
    margin-bottom: 4px;/
    font-size: 15px;
}
.contact-left-div {
width: 50%;
float: left;
text-align:center
}
.contact-rigth-div {
width: 50%;
float: left;
text-align:center
}
/*--//Contact --*/
/*--Mesaje de la Semana--*/
#week-mensaje {
  padding-top: 2.5em;
  margin: auto;
  height: 5em;
  width: 80%
}
#week-mensaje h1 {
  font-family: 'Quattrocento', sans-serif;
  font-size: 2em;
  font-weight: 600;
  text-transform: capitalize;
  /* margin-left: 2em; */
  color: #ff304d;
  font-style: italic;
}
#mensaje-main {
  font-family: 'Bubblegum Sans', sans-serif;
  font-size: 30px;
  text-align: justify;
  line-height: 50px;
  letter-spacing: 1px;
  margin-top: 1.5em;
  color: #000;
  font-style: italic;
  line-height: 1.8em;
}
#week-mensaje-main {
  width: 80%;
  margin: auto;
  padding-bottom: 2em;
}
#mensaje-block {
  width: 90%;
}
#center {
  text-align: center;
}
.espaciado {
  height: 2em;
}
/*--//Mensaje de la Semana--/
/*--Map --*/
.map-w3ls {
    width: 90%;
    /* order-top: solid 0.1em rgba(0, 0, 0, 0.4); */
    position: relative;
    padding-bottom: 0px!important;
    padding-top: 2em;
    margin: auto;
}
.map-w3ls .por-definir {
    width: 100%;
    height: 5em;
    border: none;
}
/*-- //Map--*/
/*-- to-top --*/
#toTop {
	display: none;
	text-decoration: none;
	position: fixed;
	bottom: 24px;
	right: 1%;
	overflow: hidden;
	z-index: 999; 
    width: 64px;
    height: 64px;
	border: none;
	text-indent: 100%;
	background: url("../images/arr.png") no-repeat 0px 0px;
}
#toTopHover {
    width: 64px;
    height: 64px;
	display: block;
	overflow: hidden;
	float: right;
	opacity: 0;
	-moz-opacity: 0;
	filter: alpha(opacity=0);
}
/*-- //to-top --*/
/*--responsive--*/
@media(max-width:1600px){
	.top-nav-text {
		width: 32%;
	}
  .contact-left h6 {
    font-size: 24px;
  }
  .contact-left p {
    font-size: 24px;
  }
  .contact-left span {
    font-size: 21px;
  }
  h4.title-w6 {
    font-family: 'Quattrocento', sans-serif;
    color: #000;
   padding-bottom: .8em;
  }
}
@media(max-width:1440px){
	.top-nav-text a {
		margin-left: 1em;
	}
	.top-nav-text {
		width: 33.1%;
	}
	.slider_banner_info h4 {
		font-size: 70px;
	}
	.banner-w3layouts {
		min-height: 645px;
	}
}
@media(max-width:1366px){
	.slider_banner_info {
		margin-top: 7em;
	}
	.navbar-default .navbar-nav > li > a {
		font-size: 18px;
		padding: 25px 23px;
	}
  .contact-left h6 {
    font-size: 22px;
  }
  .contact-left p {
    font-size: 22px;
  }
  .contact-left span {
    font-size: 20px;
  }
  h4.title-w6 {
   padding-bottom: .6em;
  }
}
@media(max-width:1280px){
	.top-nav-text a {
		font-size: 12.5px;
		margin-left: 6px;
		margin-top: 3px;
	}
	.numscroller {
		font-size: 35px;
	}
	.slider_banner_info h4 {
		font-size: 53px;
	}
	.team h4.two {
		margin-bottom: 22px!important;
	}
  .contact-left h6 {
    font-size: 19px;
  }
  .contact-left p {
    font-size: 19px;
  }
  .contact-left span {
    font-size: 18px;
  }
  h4.title-w6 {
   padding-bottom: .4em;
  }
}
@media(max-width:1080px){
  #mensaje-main {
    font-size: 1.6em;
  }
	.top-nav-text {
		width: 39.7%;
	}
	.navbar-default .navbar-nav > li > a {
		font-size: 12.5px;
		padding: 16px 18px 14px;
	}
	.navbar-header h1 a {
		font-size: 29px;
		padding: 35px 23px;
	}
	.slider_banner_info h4 {
		font-size: 50px;
	}
	.slider_banner_info {
		margin-top: 6em;
	}
	.callbacks_tabs {
		left: -2.8%;
	}
	.banner-w3layouts {
		min-height: 590px;
	}
	h4.title-w3 ,h2.title-w3 {
		font-size: 32px;
		margin-bottom: 40px;
	}
	.w3-welcome-left h5 {
		font-size: 1.3em;
		letter-spacing: .8px;
		line-height: 35px;
	}
	.slider_banner_info p {
		font-size: 18px;
	}
	.w3-welcome-left p {
		font-size: 15px;
	}
}
@media(max-width:1050px){
	.top-nav-text {
		width: 41%;
	}
	.navbar-header h1 a {
		padding: 35.5px 23px;
	}
	.slider_banner_info h4 {
		font-size: 45px;
	}
	.slider_banner_info {
		margin-top: 7em;
	}
	.banner-w3layouts {
		min-height: 540px;
	}
	.slider_banner_info p {
		font-size: 16px;
		letter-spacing: 3px;
	}
	.w3-welcome-left h5 {
		font-size: 1.2em;
	}
	.numscroller {
		margin: 5px 0 5px;
	}
}
@media(max-width:1024px){
	.top-nav-text a {
		font-size: 12.4px
	}
	.top-nav-text {
		width: 42.8%;
	}
}
@media(max-width:991px){
	.top-nav-text {
		width: 44.5%;
	}
	.slider {
		float: left;
		width: 50%;
	}
	.navbar-header h1 a {
		padding: 35.5px 22px;
	}
	.slider_banner_info {
		margin-top: 5em;
	}
	.w3-welcome-left:nth-child(1){
		margin-bottom:2em;
	}
	h4.title-w3 ,h2.title-w3 {
		font-size: 27px;
		margin-bottom: 35px;
	}
  .contact-left p {
    font-size: 18px;
  }
	.contact-left h6 {
		font-size: 14px;
	}
	.w3ls-welcome-img2 {
		margin-bottom: 2em;
	}
	.w3-welcome-bottom {
		margin: 2em 0 0 0;
	}
}
@media(max-width:900px){
  #week-mensaje h1 {
    font-size: 1.7em;
  }
  #mensaje-main {
    font-size: 1.5em;
  }
	.slider_banner_info h4 {
		font-size: 41px;
	}
	.header {
		padding: 0 2em;
	}
	.top-nav-text {
		width: 46.5%;
	}
	.top-nav-text {
		width: 47.6%;
	}
	.navbar-default .navbar-nav > li > a {
		padding: 16px 13px 14px;
	}
	.banner-w3layouts {
		min-height: 500px;
	}
}
@media(max-width:800px){
	.top-nav-text a {
		padding: 6px 16px;
		margin-top: 4px;
	}
	.top-nav-text {
		width: 46.5%;
	}
	.navbar-header h1 a {
		padding: 35.5px 16px;
		font-size: 25px;
	}
	.navbar-default .navbar-nav > li > a {
		font-size: 12px;
		padding: 15px 8.5px 10px;
	}
	.slider_banner_info p {
		font-size: 15px;
		letter-spacing: 2px;
	}
	.slider_banner_info h4 {
		font-size: 35px;
		line-height: 44px;
	}
	.callbacks_tabs a:after {
		height: 12px;
		width: 12px;
	}
	.callbacks_tabs li {
		margin: 0 5px;
	}
	.numscroller {
		font-size: 31px;
	}
	.contact-left {
		padding: 2em 2.5em;
	}
	.map-w3ls iframe {
		height: 27.5em;
	}
  h4.title-w6 {
   padding-bottom: auto;
  }
}

@media(max-width:768px){
	.top-nav-text {
		width: 48.6%;
	}
	.navbar-nav > li {
		margin: 0 0.33em;
	}
	.w3l_banner_info {
		width: 90%;
	}
}
@media(max-width:767px){
	ul.nav.navbar-nav.navbar-right {
		margin: 0;
		float:none!important;
	}
	.navbar-default .navbar-nav > li > a { 
		text-align: center;
	}
	.navbar-default .navbar-collapse, .navbar-default .navbar-form {
		border: none;
		background: #fff;
	}
	.navbar-default .navbar-toggle {
		border-color: rgba(0, 0, 0, 0.01);
		 background: #01bcfa;
		margin: 12px 0px 0px 0px;
		transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
	-ms-transition:0.5s all;
	}
	.top-nav-text {
		width: 100%;
		margin-top: 11px;
		float: none;
		margin-left: 0;
	}
	.navbar-default .navbar-toggle .icon-bar {
		background-color: #000;
	}
	.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
		background-color: #01bcfa;
		border-color: #000;
		transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
	-ms-transition:0.5s all;
	}
	.navbar-default .navbar-nav > li > a:before { 
		width: 0; 
	}
	.navbar-default .navbar-nav > li > a {
		padding: 1em 0;
		color: #000;
	}
	.navbar-nav > li {
		margin: 0;
	}
	div#bs-example-navbar-collapse-1 {
		background: rgba(0, 0, 0, 0.88);
		margin: 0;
		position: absolute;
		width: 100%;
		z-index: 999;
		border: 1px solid #000;
		margin-top: 0.5em;
	}
	.navbar-default .navbar-nav > li > a:before {
		width: 0;
		display:none;
	}
	.navbar-header h1 a {
		padding: 11px 20px;
		float: left;
		font-size: 25px;
	}
	.banner-w3layouts {
		min-height: 485px;
	}
	h4.title-w3 ,h2.title-w3 {
		font-size: 24px;
		margin-bottom: 30px;
	}
	.w3-welcome-left h5 {
		font-size: 1.1em;
	}
	.w3-welcome-left p {
		font-size: 14.5px;
	}
	.contact-left h6 {
		margin-bottom: 7px;
	}
	#toTop {
		right: 4%;
		width: 32px;
		height: 30px;
	}
	.navbar-default .navbar-nav > li:nth-child(1) a {
		padding-top: 1.3em;
	}
	.navbar-default .navbar-nav > li:nth-child(6) a {
		padding-bottom: 1.3em;
	}
}
@media(max-width:736px){
  h4.title-w6 {
    padding-bottom: 1.4em;
  }
  .contact-left-div {
    width: 100%;
    float: none;
  }
  .contact-rigth-div {
    width: 100%;
    float: none;
  }
	a.a2 {
		padding: 6px;
	}
	.map-w3ls iframe {
		height: 26em;
	}
	.gallery {
		padding: 55px 0px;
	}
	.slider_banner_info {
		margin-top: 4em;
	}
	.banner-w3layouts {
		min-height: 455px;
	}
}
@media(max-width:667px){
	.contact-agile {
    bottom: 2.5em;
	}
	.w3ls-submit {
		margin-top: 1.5em;
	}
	.slider_banner_info h4 {
		font-size: 30px;
		line-height: 38px;
	}
	.slider_banner_info p {
		font-size: 14px;
		letter-spacing: 1px;
	}
}
@media(max-width:640px){
	.slider_banner_info h4 {
		font-size: 29px;
		line-height: 36px;
	}
	.w3-welcome-left h5 {
		font-size: 1em;
	}
	.contact-left span {
		font-size: 12px;
	}
	#Choco_close {
		background-size: 15px;
	}
	#Choco_left_arrow {
		background-size: 20px;
	}
	#Choco_right_arrow {
		background-size: 20px;
	}
	.banner-w3layouts {
		min-height: 440px;
	}
  .contact-agile {
    bottom: 2.5em;
  }
}
@media(max-width:600px){
	.w3-welcome-left p {
		margin: .5em 0 0 0;
	}
	.w3ls-welcome-img2 {
		margin-bottom: 1em;
	}
	.w3-welcome-left:nth-child(1) {
		margin-bottom: 1em;
	}
	.features, .capabilities, .gallery {
		padding: 55px 0px;
	}
	.w3l_banner_info {
		width: 93%;
	}
	.slider_banner_info h4 {
		font-size: 28px;
	}
	.slider {
		padding-right: 0;
	}
	.banner-w3layouts {
		min-height: 435px;
	}
	h4.title-w3 ,h2.title-w3 {
		font-size: 22px;
	}
	.navbar-default .navbar-nav > li > a {
		padding: .8em 0;
		color: #000;
	}
}
@media(max-width:568px){
	.slider {
		width: 100%;
		float: none;
	}
	.slider_banner_info {
		margin-top: 1em;
	}
	.slider_banner_info h4 {
		font-size: 25px;
		margin-bottom: 4px;
	}
	.banner-w3layouts {
		min-height: 490px;
	}
	.slider_banner_info p {
		margin-bottom: 1.2em;
	}
	.gallery {
		padding: 45px 0px;
	}
	#toTop {
		bottom: 37px;
		right: 6%;
		width: 34px;
		height: 34px;
	}
	.w3-welcome-left h5 {
		line-height: 25px;
	}
}
@media(max-width:480px){
  #mensaje-main {
    font-size: 1.3em;
  }
  #week-mensaje h1 {
    font-size: 2em;
  }
	.nav-contact-w3ls p {
		font-size: 11px;
	}
	.top-nav-text .call {
		font-size: 12px;
	}
	.glyphicon.glyphicon-phone {
		font-size: 29px;
	}
	.header {
		padding: 0 1.4em;
	}
	.top-nav-text a {
		padding: 5px 16px;
		margin-top: 3px;
	}
	.slider_banner_info h4 {
		font-size: 21px;
		margin-bottom: 2px;
    margin-top: 50px;
		line-height: 20px;
	}
	.slider_banner_info p {
		font-size: 13px;
	}
	.callbacks_tabs a:after {
		height: 11px;
		width: 11px;
	}
	.callbacks_tabs li {
		margin: 0 3px;
	}
	.w3l_banner_info {
		width: 95%;
	}
	.banner-w3layouts {
		min-height: 460px;
	}
	h4.title-w3 ,h2.title-w3 {
		margin-bottom: 25px;
	}
	.w3-welcome-left h5 {
		font-size: 15px;
		letter-spacing: .6px;
	}
	.wpf-demo-4 img {
		width: 100%;
		margin-bottom: .7em;
	}
  #week-mensaje h1 {
    font-size: 2.2em;
  }
  #week-mensaje-main {
    padding-top: 1em;
  }
}
@media(max-width:414px){
	.navbar-header h1 a {
		font-size: 22px;
	}
	.navbar-default .navbar-toggle {
		margin: 11px 0px 0px 0px;
		padding: 8px 8px;
	}
	h4.title-w3 ,h2.title-w3 {
		margin-bottom: 20px;
		font-size: 20px;
	}
	.features, .capabilities, .gallery {
		padding: 40px 0px;
	}
	.banner-w3layouts {
		min-height: 455px;
	}
	.w3-welcome-left p span {
		margin: .7em 0 0 0;
	}
	.numscroller {
		font-size: 25px;
		margin: 5px 0 0px;
	}
	.map-w3ls iframe {
		height: 23.5em;
	}
	#toTop {
		bottom: 16px;
	}
	.contact-left {
		padding: 1.7em 2em;
	}
  #week-mensaje h1 {
    font-size: 1.9em;
  }
}
@media(max-width:384px){
	.slider_banner_info h4 {
		font-size: 19px;
		line-height: 19px;
		letter-spacing: 1px;
	}
	.slider_banner_info {
		margin-top: .6em;
	}
	.banner-w3layouts {
		min-height: 434px;
	}
	.navbar-default .navbar-nav > li > a {
		padding: .6em 0;
	}
	.w3-welcome-left p {
		font-size: 14.4px;
		line-height: 1.85em;
	}
	.w3-welcome-bottom {
		margin: 1em 0 0 0;
	}
	.siml-w3ls {
		width: 100%;
		text-align: center;
		padding: 0px;
	}
	.gallery {
		padding: 35px 0px;
	}
	#Choco_close {
		background-size: 13px;
	}
	#Choco_left_arrow {
		background-size: 18px;
	}
	#Choco_right_arrow {
		background-size: 18px;
	}
  #week-mensaje h1 {
    font-size: 1.7em;
  }
	
}
@media(max-width:375px){
	.nav-contact-w3ls {
		margin-right: 7px;
	}
}
@media(max-width:320px){
	.glyphicon.glyphicon-phone {
		font-size: 27px;
	}
	.nav-contact-w3ls {
		margin-right: 5px;
		padding-right: 6px;
	}
	.navbar-default .navbar-nav > li > a {
		font-size: 10.5px;
	}
	.top-nav-text a {
		padding: 5px 10px;
		font-size: 11px;
		margin-left: 0px;
	}
	.modal-body {
		padding: 8px;
	}
	.banner-w3layouts {
		min-height: 425px;
	}
	.navbar-default .navbar-toggle {
		margin: 8px 0px 0px 0px;
	}
	.slider_banner_info h4 {
		font-size: 17px;
		line-height: 14px;
	}
	.navbar-header h1 a {
		font-size: 20px;
		padding: 11px 17px;
	}
	#toTop {
		bottom: 8px;
		right: 3%;
	}
	.gallery {
		padding: 30px 0px;
	}
	#Choco_close {
		background-size: 11px;
	}
	#Choco_right_arrow {
			background-size: 16px;
		}
	#Choco_left_arrow {
		background-size: 16px;
	}
  #week-mensaje h1 {
    font-size: 1.5em;
  }
  #mensaje-main {
    font-size: .9em;
  }
}
/*--//responsive--*/